<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0202343 -0.0438682 -0.0164669" rpy="0.0186657 -0.0240842 0.021618" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0202343 -0.0438682 -0.0164669   0.00920136 -0.0121414 0.0106951 0.999827 wrist_3_link camera_color_optical_frame" />
</launch>
