<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0423662 -0.0516857 0.0113364" rpy="3.13753 3.12898 3.12298" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0423662 -0.0516857 0.0113364   -0.00208987 0.00628814 -0.009318 0.999935 tool0 camera_color_optical_frame" />
</launch>
