<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find fcsc)/urdf/pmt_fcsc.urdf"/>
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz"/>

  <param name="robot_description" textfile="$(arg model)"/>
  <rosparam command="load" file="$(find fcsc)/param/diff_drive_controller.yaml"/>
  <rosparam command="load" file="$(find fcsc)/param/joint_state_controller.yaml"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pmt)/worlds/nakatest.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        respawn="false" output="screen" args="-param robot_description -urdf -model pioneer3dx"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen" args="diff_drive_controller joint_state_controller"/>
  <node name="teleop_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py">
    <remap from="cmd_vel" to="diff_drive_controller/cmd_vel"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
  <node name="slam_mappig" pkg="gmapping" type="slam_gmapping" clear_params="true">
    <rosparam command="load" file="$(find auto_robot)/param/gmapping.yaml"/>
  </node>


</launch>
